.hero{
    background-image: url("../../../images/background.jpeg") ;
    background-size: cover;
    /* background-position: top 25% right 0; */
    height:80vh;
    width: 100%;
    margin-bottom: 15px;
}